<section class="py-20 max-lg:py-14 px-4 max-md:py-8 bg-[#eef7f3]">
  <h2
    class="text-5xl font-bold mb-16 text-[#55AA87] rubik max-lg:mb-12 max-lg:text-4xl max-md:text-2xl text-center max-md:text-start max-md:mb-6"
  >
    About the product
  </h2>
  <div>
    <div class="mx-auto max-w-4xl aspect-[16/9]">
      <iframe
        class="mx-auto w-full h-full"
        width="868"
        height="488"
        src="https://www.youtube.com/embed/e-gdP4YQiPg"
        title="Homey Park - About the Product"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
  </div>
</section>
