<section class="py-20 max-lg:py-14 px-4 max-md:py-8 bg-[#eef7f3]">
  <h2
    class="text-5xl font-bold mb-16 text-[#55AA87] rubik max-lg:mb-12 max-lg:text-4xl max-md:text-2xl text-center max-md:text-start max-md:mb-6"
  >
    About the product
  </h2>
  <div>
    <div style="max-width: 640px" class="mx-auto">
      <div
        style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;"
      >
        <iframe
          src="https://upcedupe-my.sharepoint.com/personal/u20201c410_upc_edu_pe/_layouts/15/embed.aspx?UniqueId=712582df-422d-4d48-82ca-6213ddff6688&embed=%7B%22hvm%22%3Atrue%2C%22ust%22%3Atrue%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create"
          width="640"
          height="360"
          frameborder="0"
          scrolling="no"
          allowfullscreen
          title="about-the-product.mp4"
          style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"
        ></iframe>
      </div>
    </div>
  </div>
</section>
