---
import TestimonialsCarousel from '../../components/TestimonialCarousel/TestimonialCarousel'
import testimonialsJson from '../../data/testimonials.json'

const testimonials = testimonialsJson
---

<section class="py-20 px-4 max-lg:py-14 max-md:py-8" id="testimonials">
  <div class="max-w-6xl mx-auto max-lg:container">
    <h1
      class="text-5xl text-[#55AA87] font-bold rubik max-lg:text-4xl max-md:text-2xl"
    >
      Our testimonials
    </h1>
    <div>
      <TestimonialsCarousel reviews={testimonials} client:load />
    </div>
  </div>
</section>
