---
const items = [
  {
    title: 'Easy to use',
    description:
      'Our app quickly finds parking spots, letting you spend less time searching and more time enjoying your journey.',
    image: 'https://i.ibb.co/kQRZ0c9/Group-1000004195.png',
  },
  {
    title: 'Access from Any Device',
    description:
      'Access HomeyPark from any device—phone, tablet, or computer—to manage your parking spots anytime, anywhere.',
    image: 'https://i.ibb.co/vq7KGZH/Frame-1000004216.png',
  },
  {
    title: 'Quick and Easy Reservation',
    description:
      'With HomeyPark, quickly book parking ahead of time to guarantee a spot when you need it.',
    image: 'https://i.ibb.co/F7jFTrj/Group-1000004195-1.png',
  },
]
---

<section
  class="bg-white mt-20 py-20 px-4 max-lg:py-14 max-lg:mt-14 max-md:py-8 max-md:mt-8" id="whyChooseUs"
>
  <div class="max-w-6xl mx-auto max-lg:container">
    <h2
      class="text-5xl text-center rubik font-bold text-[#55AA87] max-lg:text-4xl max-md:text-start max-md:text-2xl"
    >
      Why Choose Us?
    </h2>

    <div
      class="mt-10 flex flex-row max-lg:gap-x-4 max-md:mt-4 max-md:flex-col max-md:gap-y-8"
    >
      {
        items.map((item) => (
          <div class="bg-transparent p-8 max-lg:p-0 max-md:flex gap-x-8 max-md:items-center">
            <div class="shrink-0 mb-4 max-md:mb-0">
              <img
                src={item.image}
                alt={item.title}
                class="mx-auto h-[80px] w-[80px]"
              />
            </div>
            <div>
              <h3 class="text-xl text-center rubik font-bold text-[#55AA87] max-lg:text-base max-md:text-start">
                {item.title}
              </h3>
              <p class="mt-2 text-black max-lg:text-sm text-center max-md:text-start max-md:mt-1 max-md:text-xs max-md:leading-relaxed">
                {item.description}
              </p>
            </div>
          </div>
        ))
      }
      <!-- <div class="bg-transparent p-8 text-center">
        <img
          src="https://i.ibb.co/kQRZ0c9/Group-1000004195.png"
          alt="Easy to use"
          class="mx-auto mb-4 h-[80px] w-[80px]"
        />
        <h3 class="text-xl font-extrabold text-[#55AA87]">Easy to use</h3>
        <p class="mt-2 text-black">
          Our app quickly finds parking spots, letting you spend less time
          searching and more time enjoying your journey.
        </p>
      </div>
      <div class="bg-transparent p-8 text-center">
        <img
          src="https://i.ibb.co/vq7KGZH/Frame-1000004216.png"
          alt="Access from Any Device"
          class="mx-auto mb-4 h-[80px] w-[80px]"
        />
        <h3 class="text-xl font-extrabold text-[#55AA87]">
          Access from Any Device
        </h3>
        <p class="mt-2 text-black">
          Access HomeyPark from any device—phone, tablet, or computer—to manage
          your parking spots anytime, anywhere.
        </p>
      </div>
      <div class="bg-transparent p-8 text-center">
        <img
          src="https://i.ibb.co/F7jFTrj/Group-1000004195-1.png"
          alt="Quick and Easy Reservation"
          class="mx-auto mb-4 h-[80px] w-[80px]"
        />
        <h3 class="text-xl font-extrabold text-[#55AA87]">
          Quick and Easy Reservation
        </h3>
        <p class="mt-2 text-black">
          With HomeyPark, quickly book parking ahead of time to guarantee a spot
          when you need it.
        </p>
      </div> -->
    </div>
  </div>
</section>
